.git
.github
.gitignore
.env.example
.env.testing
.editorconfig
.DS_Store
node_modules
npm-debug.log
storage/logs/*
bootstrap/cache/*
vendor/bin
tests/
docker-compose.yml
Dockerfile
README.md
*.md
.vscode
.idea
*.zip
